<% provide(:title, '設定') %>
<h1>ユーザー設定</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
　　　<!--ラベルが表示名、フィールドがDBのカラム-->
      <br>
      <%= f.label :ユーザー名 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :department, "部署" %>
      <%= f.text_field :affiliation, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード（確認用）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br>
      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>