<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
  <%= link_to user.name, user %>
  <% if @current_user.admin? && !current_user?(user) %>
    ｜<%= link_to "基本情報編集", basic_info_path(user) %>
    | <%= link_to "削除", user, method: :delete,
                         data: { confirm: "削除してよろしいですか？" } %>
  <% end %>
</li>
  <% end %>
</ul>

<%= will_paginate %>